[Unit]
Description=Synchronize Gmail through Google OAuth API
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
User=hans
Group=users
UMask=0077
WorkingDirectory=/data/src/github/utils/hpr
ExecStart=/usr/bin/python3 /data/src/github/utils/hpr/utils/google_service/google_service.py gmail-sync
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only
